In [2]:
# LOOP CONTROL STATEMENTS:break
for i in range(1,11):
    if i % 5 == 0:
        break
    else:
        print(i)

1
2
3
4

In [3]:
# LOOP CONTROL STATEMENTS:continue
for i in range(1,11):
    if i % 5 == 0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

write a program to validate username and password given by the user.If the user gives wrong credentials it should ask for username and password again again until the user gives correct details.

In [6]:
#username : python
#password : abc123

while True:
    user=input("enter the username")
    if user == "python":
        pwd=input("enter the password")
        if pwd=="abc123":
            print("login success!!")
            break
    else:
        continue

enter the usernameasfh
enter the usernamepython
enter the passwordasdf
enter the usernamepython
enter the passwordabc123
login success!!

In [9]:
#pass --> for creating empty block
if 12 < 34:
    pass
else:
    print("else")

### Function:
block of statements
1.predefined(which are already)
2.user-defined(custom function)
        def function_name(parameter list):
        statements
        return

In [18]:
def name(username):#function definition
    print("Hello",username)
    
print(name("mallika"))#function calling

Hello mallika
None

In [16]:
def arithmetic(a,b):
    return a+b,a-b,a*b,a/b
print(addition(10,20))
print(addition(100,200))

(30, -10, 200, 0.5)
(300, -100, 20000, 0.5)

In [17]:
#multiple return values
def arithmetic(a,b):
    return a+b,a-b,a*b,a/b

#unpacking
add,sub,mul,div=arithmetic(10,20)
print(sub)
print(add)
print(mul)

-10
30
200

## Different types of Arguments:
1.required psitional argument
2.default argument

In [23]:
def add(a,b):
    return(a+b)
add(10,20)

30

In [25]:
#default argument
#default argument should be at the end of arg list
def add(a,b=100):
    return a+b
print(add(100))
print(add(200,200))

200
400

In [26]:
#keyword arguments:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(10,20)

a value: 10
b value: 20

30

In [19]:
#variable length arguments
#(120,230,34,450,640)-->tuple
def add(*a):
    m=1
    for i in a:
        m=m*i
    return m
    
print(add(10,20))
print(add(100,200,300))
print(add(10,20,30,40))

200
6000000
240000

In [23]:
#nested functions:square,cube
def square(a):
    return a*a
def cube(X):
    return square(X)*X
    
print(square(10))
print(cube(10))

100
1000

## Data structures:
1.list:
   -[]elements seperated by ,
   -indexed
   -ordered
   -allows duplicate values
   -mutable
   -can store anuy type of values

In [22]:
list1=[12,23,45,True,"abc",12]
print(type(list1))

<class 'list'>

In [28]:
#operators supported by list:+,*,[],[;],in,not in
list1=[1,2,3]
list2=[10,20,30]
print(list1+list2)
print(list1*3)
print(list1[1])
print(list1[1:3])
print(2 in list1)
print(20 in list1)

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [30]:
list1=[1,2,3,"python"]
list1[3][2]

't'

In [34]:
#built-in functions:len(),max(),min(),list()
list1=[1,2,3,4]
s1="python"
print(len(list1))
print(max(list1))
print(min(list1))
list2=list(s1)
print(list2)
list1[-1]=100
print(list1)

4
4
1
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]